/* line 4, C:/Users/Michael/Dropbox/Docs/Homework/Projects/dot/app/assets/stylesheets/users.scss */
.title {
  font-family: cursive;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

/* line 12, C:/Users/Michael/Dropbox/Docs/Homework/Projects/dot/app/assets/stylesheets/users.scss */
.form {
  text-align: center;
  margin: 0 auto 10px;
  padding: 20px 0 10px 0;
  font-size: 16px;
  width: 300px;
}

/* line 20, C:/Users/Michael/Dropbox/Docs/Homework/Projects/dot/app/assets/stylesheets/users.scss */
input[type=text],
input[type=email],
input[type=password] {
  color: #666666;
  width: 500px;
  border: 1px solid #E6E6E6;
  border-radius: 0px;
  height: 60px;
  margin: 40px auto;
  text-indent: 10px;
  display: block;
}

/* line 33, C:/Users/Michael/Dropbox/Docs/Homework/Projects/dot/app/assets/stylesheets/users.scss */
.btn-submit {
  font-family: cursive;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  background: #cc9900;
  padding: 10px 20px;
  border: 0;
}
/* line 5, C:/Users/Michael/Dropbox/Docs/Projects/Dot/app/assets/stylesheets/welcome.scss */
body {
  margin: 0;
  padding: 0;
  background-color: skyblue;
}

/* line 11, C:/Users/Michael/Dropbox/Docs/Projects/Dot/app/assets/stylesheets/welcome.scss */
a {
  text-decoration: none;
  color: whitesmoke;
}

/* line 16, C:/Users/Michael/Dropbox/Docs/Projects/Dot/app/assets/stylesheets/welcome.scss */
.header {
  height: 50px;
  background-color: #cc9900;
  margin-bottom: 10px;
  font-family: cursive;
  margin: auto;
  font-size: 35px;
  display: inline-block;
  width: 100%;
}

/* line 27, C:/Users/Michael/Dropbox/Docs/Projects/Dot/app/assets/stylesheets/welcome.scss */
.header a {
  color: whitesmoke;
}

/* line 32, C:/Users/Michael/Dropbox/Docs/Projects/Dot/app/assets/stylesheets/welcome.scss */
#openingvideo {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

/* line 39, C:/Users/Michael/Dropbox/Docs/Projects/Dot/app/assets/stylesheets/welcome.scss */
#openingpage {
  position: relative;
  z-index: 9;
}

/* line 45, C:/Users/Michael/Dropbox/Docs/Projects/Dot/app/assets/stylesheets/welcome.scss */
#enter {
  margin: auto;
  margin-top: 250px;
  text-align: center;
  background-color: #cc9900;
  width: 200px;
  border-radius: 50px;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 58, C:/Users/Michael/Dropbox/Docs/Projects/Dot/app/assets/stylesheets/welcome.scss */
#enter a {
  font-size: 30px;
  font-family: cursive;
  color: whitesmoke;
}

/* line 64, C:/Users/Michael/Dropbox/Docs/Projects/Dot/app/assets/stylesheets/welcome.scss */
#options {
  text-align: center;
  vertical-align: center;
}

/* line 69, C:/Users/Michael/Dropbox/Docs/Projects/Dot/app/assets/stylesheets/welcome.scss */
#options a {
  border: 10px;
  font-size: 25px;
  font-family: cursive;
  margin-top: 25px;
  text-align: center;
  background-color: #cc9900;
  width: 150px;
  border-radius: 50px;
  display: inline-block;
}

/* line 81, C:/Users/Michael/Dropbox/Docs/Projects/Dot/app/assets/stylesheets/welcome.scss */
.header ul {
  list-style-type: none;
  display: flex;
  float: right;
  margin-top: 11px;
}

/* line 88, C:/Users/Michael/Dropbox/Docs/Projects/Dot/app/assets/stylesheets/welcome.scss */
.header a {
  color: whitesmoke;
}

/* line 92, C:/Users/Michael/Dropbox/Docs/Projects/Dot/app/assets/stylesheets/welcome.scss */
.header li {
  font-size: 15px;
  background-color: silver;
  text-align: center;
  margin: 0px 10px 0px 10px;
  padding: 2px 10px 4px 10px;
  color: whitesmoke;
  opacity: .8;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

