<!DOCTYPE html>
<html>
    <head>
        <% content_for :title, "Dot" %>
        <%= javascript_include_tag "welcome-bundle" %>
    </head>    
    <body>
        <div id="openingvideo">
            <%= video_tag "pittvideo.ogg", :width => "100%", :controls => true, :autoplay => true, :loop => true, :muted => true %>
        </div>   
        <div id="openingpage">
            <div id="enter">
                <a href="forsale">ENTER</a>
            </div>
            <div id="options">
                    <a href="signup">JOIN</a>                  
                    <a href="login">LOGIN</a>  
            </div>
        </div>
    </body>
</html>