<!DOCTYPE html>
<html>
    <head>
        <% content_for :title, "About Dot" %>
        <%= javascript_include_tag "about-bundle" %>
    </head>
    
    <div class="title">
        <p>About Us</p>
    </div>
    <div class="about">
        <p>An online platform/service for college students to sell/trade second hand items. </p>
    </div>

</html>