<div class = "footlinks">
    <ul> 
        <li> <a href="about">About</a> </li> 
        <li> <a href="contact">Contact</a> </li> 
        <li> <a href="contact">Terms</a> </li> 				
    </ul>
 </div>

<div class="social">
    <%= image_tag("facebook.png", :alt => "Facebook", :height => '40px', :width => '40px' ) %> 
    <%= image_tag("twitter.png", :alt => "Twitter", :height => '40px', :width => '40px' ) %>   
</div>    

<div class="dlimages">
    <%= image_tag("appstoresoon.png", :alt => "Download On App Store") %>
    <%= image_tag("googleplaysoon.png", :alt => "Download On Google Play") %>
</div>
